@st-import [
  --spacing-unit,
  --tone-info,
  --tone-lead-rgb
] from "@actionishope/shelley/styles/project.st.css";

.root code {
  color: var(--tone-info)
}

.root h2,
.root h3,
.root h4 {
  padding-bottom: calc(var(--spacing-unit) * 0.5);
  border-bottom: 2px solid rgba(var(--tone-lead-rgb), 0.2);
}

.root > p + p,
.root > p + h4,
.root > p + h5,
.root > h2 + p,
.root > h3 + p,
.root > h4 + p,
.root > h5 + p,
.root > h6 + p,
.root > h4 + h5 {
  margin-top: calc(var(--spacing-unit) * 2);
}

.root > blockquote {
  margin-top: calc(var(--spacing-unit) * 4);
  margin-bottom: calc(var(--spacing-unit) * 5);
}

.root > p + div {}

.root > blockquote + Text {
  margin-top: calc(var(--spacing-unit) * 6);
}

.root > h2 {
  margin-top: calc(var(--spacing-unit) * 4);
}

.root > p + Text.vol4 {
  margin-top: calc(var(--spacing-unit) * 8);
}

.root > p + h3,
.root > h2 + h3 {
  margin-top: calc(var(--spacing-unit) * 4);
}

.root > p + h6 {
  margin-top: calc(var(--spacing-unit) * 2);
}
