@st-namespace "docsCodeBlocks";

@st-import ReactLiveBlock from "../components/ReactLiveBlock/reactLiveBlock.st.css";
@st-import CodeBlock from "../components/CodeBlock/codeBlock.st.css";
@st-import [--spacing-unit, breakpoint-xl, --tone-info-rgb] from "@actionishope/shelley/styles/project.st.css";

:vars {
  borderColor: #383838;
  borderRadius: 8px;
}

@st-scope {

  /* CodeBlock :global(.language-bash) {} */
  /* token comment */

  ReactLiveBlock {
    display: grid;
    margin: calc(var(--spacing-unit) * 2) 0 calc(var(--spacing-unit) * 3);
    /* border: 1px solid value(borderColor); */
    border-radius: value(borderRadius);
  }

  CodeBlock {
    margin: calc(var(--spacing-unit) * 2) 0;
  }

  ReactLiveBlock > pre {
    padding: var(--spacing-unit);
    margin: 0;
    background-color: rgb(53, 115, 222);
    border-radius: 0 0 value(borderRadius) value(borderRadius);
    white-space: pre-wrap;
  }

  ReactLiveBlock::codeBlock pre {
    white-space: pre-wrap;
  }

  ReactLiveBlock::codeBlock,
  CodeBlock::code {
    padding: var(--spacing-unit);
    font-family: Menlo, monospace;
    background-color: #0d0f14;
    position: relative;
    margin: 0;

    white-space: pre-wrap;
  }

  ReactLiveBlock::codeBlock :global(.comment),
  CodeBlock::code :global(.comment),
  ReactLiveBlock::editableNotice {
    /* @todo remove !important once figured out how to override the theme value */
    color: #a7b4b0 !important;
  }

  CodeBlock::code {
    border-radius: value(borderRadius);
  }

  ReactLiveBlock::codeBlock {
    border-radius: 0 0 value(borderRadius) value(borderRadius);
  }

  ReactLiveBlock {}

  ReactLiveBlock:editable::codeBlock {
    padding-top: calc(var(--spacing-unit) * 2.5);
    padding-bottom: calc(var(--spacing-unit) * 2.5);
  }

  ReactLiveBlock::preview {
    padding: var(--spacing-unit);
    padding-top: calc(var(--spacing-unit) * 2);
    border-radius: value(borderRadius) value(borderRadius) 0 0;
    background-color: #0d0f14;
    overflow-x: auto;
  }

  ReactLiveBlock::editableNotice {
    height: calc(var(--spacing-unit) * 1.5);
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    top: -1.25em;
    top: 0;
    z-index: 0;
    font-family: Menlo, monospace;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    -webkit-font-smoothing: auto;
    pointer-events: none;
  }

  @media value(breakpoint-xl) {

    ReactLiveBlock:twoColumn {
      grid-template-columns: 1fr 1fr;
      gap: 0;
      border: 1px solid value(borderColor);
      border-radius: value(borderRadius);
      min-height: 100px;
    }

    ReactLiveBlock:twoColumn > pre {
      border-right: 1px solid value(borderColor);
    }

    ReactLiveBlock:twoColumn::editableNotice {
      border-top-right-radius: 0;
    }

    ReactLiveBlock:twoColumn::codeBlock {
      order: -1;
      border-width: 0 1px 0 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    ReactLiveBlock:twoColumn::preview {
      border: none;
      padding-left: calc(var(--spacing-unit) * 1.5);
    }
  }
}
