@st-namespace "docsHeader";
@st-import Header from "../components/Header/header.st.css";

@st-import Shelley, [
  --spacing-unit,
  --link-color,
  --bg-main
] from "@actionishope/shelley/styles/project.st.css";
@st-import [container] from "./mixins.st.css";

@st-scope Shelley body {
  Header {
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: var(--bg-main);
    border-bottom: 1px solid #75eaff61;
    padding: 0;
  }

  Header::container {
    -st-mixin: container;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 100px;
    padding-left: calc(var(--spacing-unit) + 8px);
    height: 60px;
    /* width: -webkit-fill-available; */
  }

  Header::homeLink {
    color: inherit;
    text-decoration: none;
  }

  Header::homeLink:hover {
    color: var(--link-color)
  }

}
