@st-import [
  --spacing-unit,
  --link-color,
  --tone-info,
  --tone-lead-rgb,
  --color-ui-rgb
] from "@actionishope/shelley/styles/project.st.css";
@st-import [textVol1] from "@actionishope/shelley/styles/mixins/textVol.st.css";
@st-import [pseudoFocus, pseudoFocusVisible] from "@actionishope/shelley/styles/mixins/focus.st.css";

/*= Main Container =*/
.container {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding-left: var(--spacing-unit);
  padding-right: var(--spacing-unit);
}




/*= Nav =*/
.navSection {
  margin-bottom: 40px;
}

.navTitle {
  letter-spacing: 0.25em;
  font-size: 13px;
  margin-bottom: var(--spacing-unit);
  font-weight: 600;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navListItem {
  padding: 0
}

.navAnchor {
  -st-mixin: textVol1;
  /* remove outline and set relative for focus ::before use */
  position: relative;
  outline: none;
  text-decoration: none;
  display: flex;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color, color linear 120ms;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  color: rgba(var(--color-ui-rgb), 0.8);
  padding: calc(var(--spacing-unit) / 4) calc(var(--spacing-unit) / 2);
  margin-bottom: calc(var(--spacing-unit) / 3);
}

.navAnchor::before {
  -st-mixin: pseudoFocus;
}

.navAnchor:focus-visible::before {
  -st-mixin: pseudoFocusVisible
}

.navAnchor:hover,
.navAnchor:focus {
  color: var(--link-color);
}



/*= Formatting =*/
.format {}

.format code {
  color: var(--tone-info);
  font-size: 0.95em;
}

.format h2,
.format h3,
.format h4 {
  padding-bottom: calc(var(--spacing-unit) * 0.5);
  border-bottom: 2px solid rgba(var(--tone-lead-rgb), 0.2);
}

.format > p + p,
.format > p + h4,
.format > p + h5,
.format > h2 + p,
.format > h3 + p,
.format > h4 + p,
.format > h5 + p,
.format > h6 + p,
.format > h4 + h5 {
  margin-top: calc(var(--spacing-unit) * 2);
}

.format > blockquote {
  margin-top: calc(var(--spacing-unit) * 4);
  margin-bottom: calc(var(--spacing-unit) * 5);
}

.format > p + div {}

.format ul ul,
.format ol ol,
.format ol ul,
.format ul ol {
  font-size: 1em;
}

.format > blockquote + Text {
  margin-top: calc(var(--spacing-unit) * 6);
}

.format > h2 {
  margin-top: calc(var(--spacing-unit) * 4);
}

.format > p + Text.vol4 {
  margin-top: calc(var(--spacing-unit) * 8);
}

.format > ul + h3,
.format > ol + h3 {
  margin-top: calc(var(--spacing-unit) * 3.5);
}

.format > p + h3,
.format > h2 + h3 {
  margin-top: calc(var(--spacing-unit) * 4);
}

.format > p + h6 {
  margin-top: calc(var(--spacing-unit) * 2);
}

.format a > svg {
  font-size: 0.6em;
  position: relative;
  top: -0.5em;
  left: 1px;
}
