@st-namespace "docsPageLayout";

@st-import PageLayout from "../components/PageLayout/pageLayout.st.css";
@st-import Shelley, [
  --spacing-unit,
  breakpoint-md,
  breakpoint-xl,
] from "@actionishope/shelley/styles/project.st.css";
@st-import [container] from "./mixins.st.css";

@st-scope Shelley {
  PageLayout {
    -st-mixin: container;
    padding-top: var(--spacing-unit);
    padding-bottom: var(--spacing-unit);
  }

  PageLayout::grid {
    display: grid;
    gap: var(--spacing-unit);
  }

  PageLayout::sideBar {
    display: none;
  }

  @media value(breakpoint-md) {
    PageLayout::grid {
      grid-template-columns: 200px 1fr;
      gap: 4vw;
    }

    PageLayout::sideBar {
      display: block;
      position: sticky;
      top: 85px;
      height: calc(100vh - 190px);
    }

    PageLayout::nav {}
  }

  @media value(breakpoint-xl) {
    PageLayout::grid {
      gap: 2vw;
    }
  }
}
