@st-namespace "docsShelleyBanner";

@st-import Shelley, [
  --spacing-unit,
  --tone-support,
  breakpoint-md,
  breakpoint-sm-max,
  breakpoint-xl,
] from "@actionishope/shelley/styles/project.st.css";

@st-import Banner, [tagline, tld] from "../components/ShelleyBanner/shelleyBanner.st.css";

@st-import Text from "@actionishope/shelley/Text/text.st.css";

@property st-global(--vh);

@st-scope Shelley {


  Banner::grid {
    display: grid;
    justify-items: center;
    grid-row-gap: 84px;
    margin-top: calc(var(--spacing-unit) * 6);
    margin-bottom: calc(var(--spacing-unit) * 6);
  }

  @media value(breakpoint-sm-max) {
    Banner {
      height: calc(var(--vh, 1vh) * 100 - 60px);
    }

    Banner::grid {
      margin-top: calc(var(--spacing-unit) * 8);
    }

    Banner::btnGroup {
      margin-top: 2vh;
    }
  }

  Banner::btnGroup a {
    min-width: 140px;
    justify-content: center;
  }

  @media value(breakpoint-md) {
    Banner::btnGroup a {
      min-width: 160px;
    }
  }

  Banner::btnGroup {
    /* grid-row: 2; */
  }

  Banner Text.title.uppercase {
    grid-row: 1;
    grid-column-start: 1;
    justify-self: center;
    align-self: center;
    letter-spacing: 0.4em;
  }

  Banner Text.tagline {
    grid-row: 3;
    /* grid-column-start: 1; */
    /* justify-self: start; */
    line-height: 2;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding: 0 calc(var(--spacing-unit) * 2)
  }

  Banner::tld {
    /* grid-row: 3; */
    /* grid-column-start: 1; */
    margin-top: -30px;
    align-self: end;
    font-size: 12px;
    letter-spacing: 16px;
    text-transform: uppercase;
    transform: rotate(1deg);
    color: var(--tone-support);
    font-size: 14px;
    letter-spacing: 18px;
    font-size: 0.9372071227741331em;
    letter-spacing: 22px;
  }
}
