@st-namespace "docsShelleyBanner";

@st-import Shelley, [
  --spacing-unit,
  --tone-support,
  breakpoint-md,
  breakpoint-xl,
] from "@actionishope/shelley/styles/project.st.css";

@st-import Banner, [tagline, tld] from "../components/ShelleyBanner/shelleyBanner.st.css";

@st-import Text from "@actionishope/shelley/Text/text.st.css";


@st-scope Shelley {
  Banner {
    /* margin: -35px 0 0; */
    margin-top: calc(var(--spacing-unit) * 6);
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: calc(var(--spacing-unit) * 6);
    display: grid;
    justify-items: center;

    /* grid-row-gap: 24px;
    grid-template-columns: 8fr 4fr; */

    grid-row-gap: 84px;
    grid-template-columns: 7fr 5fr;
  }

  @media value(breakpoint-md) {
    Banner {
      column-gap: 7vw;
      grid-template-columns: 1fr;
      justify-self: center;
    }
  }

  Banner::btnGroup a {
    width: 120px;
    justify-content: center;
  }

  Banner::btnGroup {
    /* grid-row: 2; */
  }

  Banner::logoPosition {
    /* grid-row: 1; */
    /* grid-column-start: 2; */
    font-size: 1.25em;
    font-size: calc(var(--spacing-unit) * 1.2);
  }

  Banner Text.title.uppercase {
    grid-row: 1;
    grid-column-start: 1;
    justify-self: center;
    align-self: center;
    letter-spacing: 0.4em;
  }

  Banner Text.tagline {
    grid-row: 3;
    /* grid-column-start: 1; */
    /* justify-self: start; */
    justify-self: center;
    align-self: center;
  }

  Banner::tld {
    /* grid-row: 3; */
    /* grid-column-start: 1; */
    align-self: end;
    font-size: 12px;
    letter-spacing: 16px;
    text-transform: uppercase;
    transform: rotate(1deg);
    color: var(--tone-support);
    font-size: 14px;
    letter-spacing: 18px;
    font-size: 0.9372071227741331em;
    letter-spacing: 22px;
  }
}
