@st-namespace "docsTableOfContents";

@st-import TableOfContents, [list, listItem, anchor] from "../components/TableOfContents/tableOfContents.st.css";
@st-import Shelley, [
  --spacing-unit,
  --tone-support-rgb
] from "@actionishope/shelley/styles/project.st.css";

@st-import [
  container,
  navSection,
  navTitle,
  navList,
  navListItem,
  navAnchor
] from "./mixins.st.css";

@property st-global(--scopes);
@property st-global(--for);
@property st-global(--is);

@st-scope Shelley {

  /**
   * The TOC animation requires some inline styles to be set on the DOM elements:
   * 1) Each section has a `view-timeline-name` set inline.
   * 2) All sections are wrapped in a container with `timeline-scope` set inline.
   * 3) The anchor links have an `animation-timeline` set inline.
   *
   * @todo: Currently 1 & 2 are added inline via a useEffect in the TableOfContents 
   * component. It would be nice to move this to the rehype plugin so it all works 
   * without any JS.
   */
  TableOfContents::anchor:not(:focus-visible) {
    animation: current-item linear;
    animation-range: entry 0% exit 100%;
  }

  TableOfContents::title:uppercase {
    -st-mixin: navTitle;
  }

  TableOfContents::list {
    -st-mixin: navList;
  }

  TableOfContents::listItem {
    -st-mixin: navListItem;
  }

  TableOfContents::listItem:has(.list):not(:first-child) {
    margin-top: 20px
  }

  TableOfContents::listItem .listItem {
    padding-left: calc(var(--spacing-unit) * 1);
  }

  TableOfContents::anchor {
    -st-mixin: navAnchor;
  }
}


@keyframes current-item {
  from {
    background-color: transparent;
  }

  50% {
    background-color: rgba(var(--tone-support-rgb), 0.1);
    color: rgba(var(--tone-support-rgb), 0.9);
  }

  to {
    background-color: transparent;
  }
}
