@st-namespace "docsTableOfContents";

@st-import TableOfContents, [list, listItem, anchor] from "../components/TableOfContents/tableOfContents.st.css";
@st-import Shelley, [ --spacing-unit ] from "@actionishope/shelley/styles/project.st.css";

@st-import [
  container,
  navSection,
  navTitle,
  navList,
  navListItem,
  navAnchor
] from "./mixins.st.css";


@st-scope Shelley {

  TableOfContents::title:uppercase {
    -st-mixin: navTitle;
  }

  TableOfContents::list {
    -st-mixin: navList;
  }

  TableOfContents::listItem {
    -st-mixin: navListItem;
  }

  TableOfContents::listItem:has(.list):not(:first-child) {
    margin-top: 20px
  }

  TableOfContents::listItem .listItem {
    padding-left: calc(var(--spacing-unit) * 1);
  }

  TableOfContents::anchor {
    -st-mixin: navAnchor;
  }
}
