@st-import [
  --spacing-unit,
  breakpoint-md
] from "@actionishope/shelley/styles/project.st.css";

.root {
  -st-states: hasTOC;
}

@media value(breakpoint-md) {
  .grid {
    grid-template-columns: 260px 1fr;
  }

  .sideBar {
    display: block;
  }

  .toc {
    position: sticky;
    top: 20px;
  }

  .root:hasTOC {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
}
